<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Doctor Portal - Doctors</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>Doctor Info here!</h1>
            <p>Name: <strong th:text="${doctor.name}"></strong></p>
            <p>Field: <strong th:text="${doctor.field}"></strong></p>
            <ul>
                <li>
                    Contact <strong th:text="${doctor.contactNumber}"></strong>
                </li>
            <li>
                Schedule <strong th:text="${doctor.schedule}">Field</strong>
            </li>
            <li>
                Appointment <strong th:text="${doctor.appointment}">Field</strong>
            </li>
            </ul>
        <form method="post" action="/bookDoctor">
            <label for="name">Enter Doctor Name to confirm booking:</label><br>
            <input type="text" id="name" name="name" required><br>
            <button>Book</button>
          </form> 
        <form method="get" action="/">
            <button>Back</button>
        </form>
    </body>

</html>
