<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Doctor Portal - Doctors</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>Doctors Available This Week!</h1>
        <ul>
            <li th:each="doctor : ${doctorSchedule}">
                <a th:href="@{doctors/{item} (item=${doctor.name})}" th:text="${doctor.name} + ' (field ' + ${doctor.field} + ')'">hero</a>
            </li>
        </ul>
        <form method="get" action="/">
            <button>Back</button>
        </form>
    </body>
</html>