<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Patient Portal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>MyPatient Info</h1>
            <h2 th:text="${patient.fName}">fName</h2>
            <h3 th:text="${patient.status}">status</h3>
        <form method="get" action="/doctorsSchedule">
            <button>Check Doctors available</button>
        </form>
        <form method="get" action="/">
            <button>Back</button>
        </form>
    </body>
</html>