<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Portal - Patients</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>All Patients Registered at our Facility !</h1>
        <ul>
            <li th:each="patient : ${patientList}">
                <a th:href="@{patients/{item} (item=${patient.fName})}" 
                th:text="${patient.fName} + ' (status: ' +${patient.status} + ')'"
                ></a>
            </li>
        </ul>
        <!--This add patient should be admin feature-->
        <form method="post" action="/patients">
            <input type="text" id="patient" fname="patientName" placeholder="new patient name..." required>
            <button>Add New Patient</button>
        </form>
        <form method="get" action="/doctorsSchedule">
            <button>Check Doctors available</button>
        </form>
        <form method="get" action="/">
            <button>Back</button>
        </form>
    </body>
</html>